<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todolist</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <script src="bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>

<body ng-app="App">
    <header>
        <h2>todo list</h2>
        <div ng-controller="filter">
            <input type="text" placeholder="搜索关键字" class="form-control" ng-model="key">
            <select ng-model="filter">
                <option value="a" ng-selected="filter===a">全部</option>
                <option value="{{option.value}}" ng-repeat="option in options" ng-selected="todo.status===option.value">{{option.title}}</option>
            </select>
        </div>
    </header>

    <ul class="list-group" ng-controller="list">
        <li class="list-group-item" ng-repeat="todo in list">

            <div ng-controller="edit">
                <div ng-show="show.title">{{todo.title}}
                    <button class="btn btn-primary" ng-click="edit()">编辑</button>
                    <button class="btn btn-danger" ng-click="del(todo)">删除</button>
                </div>
                <div ng-show="show.edit">
                    <input class="form-control" placeholder="请输入" type="text" ng-model="todo.title">
                    <select ng-model="todo.status">
                        <option value="{{option.value}}" ng-repeat="option in options" ng-selected="todo.status===option.value">{{option.title}}</option>
                    </select>
                    <button class="btn btn-success" ng-click="ok()">ok</button>
                </div>
            </div>
        </li>
    </ul>
    <div ng-controller="add">
        <input type="text" placeholder="请输入" class="form-control" ng-model="todo.title">
        <button class="btn btn-primary" ng-click="add()">添加</button>
    </div>
    <footer></footer>
</body>
<script src="app.js"></script>

</html>